service: monty-cloud-image-service

frameworkVersion: "3"

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  stage: ${opt:stage, 'local'}
  environment:
    IMAGES_BUCKET: ${self:custom.imagesBucket}
    IMAGES_TABLE: ${self:custom.imagesTable}
    AWS_REGION: ${self:provider.region}
    LOCALSTACK_ENDPOINT: ${self:custom.localstack.endpoint}

plugins:
  - serverless-python-requirements
  - serverless-localstack

custom:
  imagesBucket: monty-cloud-images-${self:provider.stage}
  imagesTable: monty-cloud-images-${self:provider.stage}
  pythonRequirements:
    dockerizePip: false
  localstack:
    stages:
      - local
    endpoint: http://localhost:4566
    autostart: false

functions:
  health:
    handler: src/handlers.health
    events:
      - http:
          path: /health
          method: get
          cors: true
  uploadJson:
    handler: src/handlers.upload_json
    events:
      - http:
          path: /images/upload-json
          method: post
          cors: true
  uploadMultipart:
    handler: src/handlers.upload_multipart
    events:
      - http:
          path: /images/upload-multipart
          method: post
          cors: true
  listImages:
    handler: src/handlers.list_images
    events:
      - http:
          path: /images
          method: get
          cors: true
  getImageMetadata:
    handler: src/handlers.get_image_metadata
    events:
      - http:
          path: /images/{imageId}
          method: get
          cors: true
  downloadImage:
    handler: src/handlers.download_image
    events:
      - http:
          path: /images/{imageId}/download
          method: get
          cors: true
  deleteImage:
    handler: src/handlers.delete_image
    events:
      - http:
          path: /images/{imageId}
          method: delete
          cors: true

resources:
  Resources:
    ImagesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.imagesTable}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: created_at
            AttributeType: S
          - AttributeName: image_id
            AttributeType: S
        KeySchema:
          - AttributeName: user_id
            KeyType: HASH
          - AttributeName: created_at
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: image_id_index
            KeySchema:
              - AttributeName: image_id
                KeyType: HASH
            Projection:
              ProjectionType: ALL
    ImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.imagesBucket}

